<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Merge App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Upload Images for Merging</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imageUpload">Select images:</label>
                <input type="file" class="form-control-file" id="imageUpload" name="images" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        <div id="results" class="mt-5"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>